@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

:root {
    --primary-color: #3FBB13;
    --secondary-color: #6369D1;
    --accent1-color: #090909;
    --accent2-color: #FFFFFF;
  
    --heading-font: 'Oswald', sans-serif;
    --paragraph-font: 'Open Sans', sans-serif;
  
    --nav-background-color: #6369D1;
    --nav-link-color: #090909;
    --nav-hover-link-color: #3FBB13;
    --nav-hover-background-color: #FFFFFF;
}
.hero {
    position: relative;
    width: 100%;
}
.hero img {
  display: block;
  width: 100%;
  height: auto;
  float: right;
}
h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -0%);
    color: var(--accent2-color);
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
    text-align: center;
    white-space: nowrap;
    width: 100%;
}

article {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    background-color: rgba(92, 108, 119, 0.8);
    padding: 1rem;
    width: 90%;
    color: #ffffff;
}

article img {
    max-width: 40%;
    height: auto;
    margin-bottom: 1rem;
}

section {
    background-color: var(--accent2-color);
    color:#090909;
    padding: 1rem;
    margin-top: 1rem;
}

section h2 {
    font-size: 2rem;
}

section > img {
    max-width: 47%;
    height: auto;
    margin-left: 1rem;
}
footer {
    background-color: var(--accent2-color);
    color:#090909;
    text-align: center;
    padding: 1rem;
}

footer p {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

footer a {
    margin: 0 10px;
}

footer a {
    text-decoration: none;
}

footer img {
    width: 30px;
    height: auto;
}
